:root {
  --background: #202b38;
  --background-alt: #161f27;
  --background-inverse: #f7f7f7;

  --main: #eee;
  --bright: #ffffff;
  --muted: #717880;

  --link: #41adff;
  --focus: #0096bfab;
  --border: #161f27;
  --code: var(--main);

  --animation-duration: 0.1s;
  --button: var(--link);
  --button-hover: #324759;

  --form-placeholder: #a9a9a9;
  --form-text: var(--bright);

  --variable: #d941e2;
  --highlight: #efdb43;

  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");

  --shadow: 1px 1px 4px var(--background-alt);

  --spacing-xxs: 0.25rem;
  --spacing-xs:  0.5rem;
  --spacing-s:   1rem;
  --spacing-m:   2rem;
  --spacing-l:   4rem;
  --spacing-xl:  8rem;
  --spacing-xxl: 16rem;
}
