/* ridge.css */

* {
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
}

/* pylon.css */

hstack {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  overflow-x: scroll;
}

hstack[spacing="xl"] > * {
  margin-right: 8rem;
}

hstack[spacing="l"] > * {
  margin-right: 4rem
}

hstack[spacing="m"] > * {
  margin-right: 2rem;
}

hstack[spacing="s"] > * {
  margin-right: 1rem;
}

hstack[spacing="xs"] > * {
  margin-right: 0.5rem;
}

hstack[spacing="xxs"] > * {
  margin-right: 0.25rem;
}

hstack[spacing] > :last-child {
  margin-right: 0;
}

hstack[align-y="top"] {
  align-items: flex-start;
}

hstack[align-y="center"] {
  align-items: center;
}

hstack[align-y="bottom"] {
  align-items: flex-end;
}

hstack[align-x="left"] {
  justify-content: flex-start;
}

hstack[align-x="center"] {
  justify-content: center;
}

hstack[align-x="right"] {
  justify-content: flex-end;
}

vstack {
  display: flex;
  align-self: stretch;
  flex: 1 1;
  flex-direction: column;
}

vstack[spacing="xl"] > * {
  margin-bottom: 8rem;
}

vstack[spacing="l"] > * {
  margin-bottom: 4rem;
}

vstack[spacing="m"] > * {
  margin-bottom: 2rem;
}

vstack[spacing="s"] > * {
  margin-bottom: 1rem;
}

vstack[spacing="xs"] > * {
  margin-bottom: 0.5rem;
}

vstack[spacing="xxs"] > * {
  margin-bottom: 0.25rem;
}

vstack[spacing] > :last-child {
  margin-bottom: 0;
}

vstack[align-x="left"] {
  align-items: flex-start;
}

vstack[align-x="center"] {
  align-items: center;
}

vstack[align-x="right"] {
  align-items: flex-end;
}

vstack[align-y="top"] {
  justify-content: flex-start;
}

vstack[align-y="center"] {
  justify-content: center;
}

vstack[align-y="bottom"] {
  justify-content: flex-end;
}

spacer {
  flex: 1;
}

[debug] * {
  outline: 1px solid #009ddc !important;
}

[stretch] {
  align-self: stretch;
  flex: 1 1 auto;
}

vstack[stretch] {
  height: 100%;
}

@media (max-width: 727px) {
  hstack[responsive] {
    display: block;
  }

  hstack[responsive]>* {
    margin-right: 0;
    display: block;
  }

  hstack[responsive][spacing="xxs"]>* {
    margin-bottom: 0.25rem;
  }

  hstack[responsive][spacing="xs"]>* {
    margin-bottom: 0.5rem;
  }

  hstack[responsive][spacing="s"]>* {
    margin-bottom: 1rem;
  }

  hstack[responsive][spacing="m"]>* {
    margin-bottom: 2rem;
  }

  hstack[responsive][spacing="l"]>* {
    margin-bottom: 4rem;
  }

  hstack[responsive][spacing="xl"]>* {
    margin-bottom: 8rem;
  }

  hstack[responsive][spacing]>:last-child {
    margin-bottom: 0;
  }
}

/**
 * Light-themed version:
 * uses light theme by default but switches to dark theme
 * if a system-wide theme preference is set on the user's device.
 *
 * Variables will remain uncompiled so the theme can update dynamically
 * at runtime in the browser.
 */

:root {
  --background-body: #ffffff;
  --background: #efefef;
  --background-alt: #f7f7f7;
  --background-inverse: #313a46;

  --text-main: #363636;
  --text-bright: #000000;
  --text-muted: #999999;
  --text-inverse: #fff;

  --links: #0076d1;
  --focus: #0096bfab;
  --border: #dbdbdb;
  --code: #000000;

  --animation-duration: 0.1s;
  --button-hover: #dddddd;

  --form-placeholder: #949494;
  --form-text: #000000;

  --variable: #39a33c;
  --highlight: #ffff00;

  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-body: #202b38;
    --background: #161f27;
    --background-alt: #1a242f;
    --background-inverse: #f7f7f7;

    --text-main: #dbdbdb;
    --text-bright: #ffffff;
    --text-muted: #717880;
    --text-inverse: #313a46;

    --links: #41adff;
    --focus: #0096bfab;
    --border: #161f27;
    --code: #ffbe85;

    --animation-duration: 0.1s;
    --button-hover: #324759;

    --form-placeholder: #a9a9a9;
    --form-text: #ffffff;

    --variable: #d941e2;
    --highlight: #efdb43;

    --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
  }
}

body {
  margin: 0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;

  text-rendering: optimizeLegibility;

  color: var(--text-main);
  background: var(--background-body);
}

main {
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}

button, input, textarea {
  transition: background-color var(--animation-duration) linear,
              border-color var(--animation-duration) linear,
              color var(--animation-duration) linear,
              box-shadow var(--animation-duration) linear,
              transform var(--animation-duration) ease;
}

h1 {
  font-size: 2.2em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, strong {
  color: var(--text-bright);
}

h1, h2, h3, h4, h5, h6, b, strong, th {
  font-weight: 600;
}

blockquote {
  border-left: 4px solid var(--focus);
  margin: 1.5em 0em;
  padding: 0.5em 1em;
  font-style: italic;
}

blockquote > footer {
  font-style: normal;
  font-size: 1em;
  color: var(--text-main);
  border: 0;
}

blockquote cite {
  font-style: normal;
}

address {
  font-style: normal;
}

mark {
  background-color: var(--highlight);
  border-radius: 2px;
  padding: 0px 2px 0px 2px;
  color: #000000;
}

button, select,
input[type='submit'],
input[type='button'],
input[type='checkbox'],
input[type='range'],
input[type='radio'] {
  cursor: pointer;
}

input:not([type='checkbox']):not([type='radio']),
select {
  display: block;
}

input,
button,
textarea,
select {
  color: var(--form-text);
  background-color: var(--background);

  font-family: inherit;
  font-size: inherit;

  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;

  border: none;
  border-radius: 6px;
  outline: none;
}

button,
input[type="submit"] {
  color: var(--text-inverse);
  background-color: var(--links);
}

input:not([type='checkbox']):not([type='radio']),
select,
button,
textarea {
  -webkit-appearance: none;
}

textarea {
  margin-right: 0;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

select {
  background: var(--background) var(--select-arrow) calc(100% - 12px) 50% / 12px no-repeat;
  padding-right: 35px;
}

select::-ms-expand {
  display: none;
}

select[multiple] {
  padding-right: 10px;
  background-image: none;
  overflow-y: auto;
}

button,
input[type='submit'],
input[type='button'] {
  padding-right: 30px;
  padding-left: 30px;
}

button:hover,
input[type='submit']:hover,
input[type='button']:hover {
  color: var(--text-bright);
  background: var(--button-hover);
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  box-shadow: 0 0 0 2px var(--focus);
}

input[type='radio'] {
  appearance: radio;
}

input[type='submit']:active,
input[type='button']:active,
input[type='range']:active,
button:active {
  transform: translateY(2px);
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

::-webkit-input-placeholder {
  color: var(--form-placeholder);
}

::-moz-placeholder {
  color: var(--form-placeholder);
}

::-ms-input-placeholder {
  color: var(--form-placeholder);
}

::placeholder {
  color: var(--form-placeholder);
}

fieldset {
  border: 1px var(--focus) solid;
  border-radius: 6px;
  margin: 0;
  margin-bottom: 6px;
  padding: 10px;
}

legend {
  font-size: 0.9em;
  font-weight: 600;
}

input[type='range'] {
  margin: 10px 0;
  padding: 10px 0;
  background: transparent;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 9.5px;
  transition: 0.2s;
  background: var(--background);
  border-radius: 1px;
}

input[type='range']::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--text-main);
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--background);
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 9.5px;
  transition: 0.2s;
  background: var(--background);
  border-radius: 3px;
}

input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--text-main);
}

input[type='range']::-ms-track {
  width: 100%;
  height: 9.5px;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type='range']::-ms-fill-lower {
  background: var(--background);
  border: 0.2px solid #010101;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type='range']::-ms-fill-upper {
  background: var(--background);
  border: 0.2px solid #010101;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type='range']::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--text-main);
}

input[type='range']:focus::-ms-fill-lower {
  background: var(--background);
}

input[type='range']:focus::-ms-fill-upper {
  background: var(--background);
}

a {
  text-decoration: none;
  color: var(--links);
  border-bottom: solid transparent;
  border-width: inherit;
}

a.hover:hover {
  border-bottom-color: inherit;
  border-bottom-style: inherit;
  border-width: inherit;
}

code, samp, time {
  background:  var(--background);
  color: var(--code);
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: 1em;
}

pre {
  margin: 0;
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}

var {
  color: var(--variable);
  font-style: normal;
  font-family: monospace;
}

kbd {
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 2px;
  color: var(--text-main);
  padding: 2px 4px 2px 4px;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  border-top: 1px solid var(--border);
  width: 100%;
  margin: 0;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
}

td,
th {
  padding: 6px;
  text-align: left;
}

thead {
  border-bottom: 1px solid var(--border);
}

tfoot {
  border-top: 1px solid var(--border);
}

tbody tr:nth-child(even) {
  background-color: var(--background-alt);
}

details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background-alt);
  padding: 10px 10px 0;
  margin: 1em 0;
  border-radius: 6px;
  overflow: hidden;
}

details[open] {
  padding: 10px;
}

details > :last-child {
  margin-bottom: 0;
}

details[open] summary {
  margin-bottom: 10px;
  outline: 0;
}

summary {
  display: list-item;
  background-color: var(--background);
  padding: 10px;
  margin: -10px -10px 0;
}

details > :not(summary) {
  margin-top: 0;
}

summary::-webkit-details-marker {
  color: var(--text-main);
}

footer {
  border-top: 1px solid var(--background);
  padding-top: 10px;
  font-size: 0.8em;
  color: var(--text-muted);
}

aside {
  background: var(--background-body);
  box-shadow: 0px 1px 4px var(--background-alt);
  border: 1px solid var(--border);
  border-radius: 4px;
}

section {
  display: flex;
  flex-flow: row wrap;
}

section > aside {
  margin-right: 1rem;
}

section > :last-child {
  margin-right: 0;
}

ul, ol {
  margin: 0;
}

p {
  margin: 0;
}

dl {
  margin: 0;
}

dt {
  color: var(--text-muted);
}

dd {
  text-align: left;
  color: var(--text-main);
  margin: 0;
}

/*****************
  atomic css
******************/

/*
  WIDTHS
*/

.w1 { width: 1rem; }
.w2 { width: 2rem; }
.w3 { width: 4rem; }
.w4 { width: 8rem; }
.w5 { width: 16rem; }
.w-25 { width: 25%; }
.w-50 { width: 50%; }
.w-75 { width: 75%; }
.w-100 { width: 100%; }
.w-third { width: calc( 100% / 3 ); }
.w-two-thirds { width: calc( 100% / 1.5 ); }
.w-auto { width: auto; }

.h-100 { height: 100%; }

/*
  SPACING
*/

.pa0 { padding: 0; }
.pa1 { padding: .25rem; }
.pa2 { padding: .5rem; }
.pa3 { padding: 1rem; }
.pa4 { padding: 2rem; }
.pa5 { padding: 4rem; }
.pa6 { padding: 8rem; }
.pa7 { padding: 16rem; }
.pl0 { padding-left: 0; }
.pl1 { padding-left: .25rem; }
.pl2 { padding-left: .5rem; }
.pl3 { padding-left: 1rem; }
.pl4 { padding-left: 2rem; }
.pl5 { padding-left: 4rem; }
.pl6 { padding-left: 8rem; }
.pl7 { padding-left: 16rem; }
.pr0 { padding-right: 0; }
.pr1 { padding-right: .25rem; }
.pr2 { padding-right: .5rem; }
.pr3 { padding-right: 1rem; }
.pr4 { padding-right: 2rem; }
.pr5 { padding-right: 4rem; }
.pr6 { padding-right: 8rem; }
.pr7 { padding-right: 16rem; }
.pb0 { padding-bottom: 0; }
.pb1 { padding-bottom: .25rem; }
.pb2 { padding-bottom: .5rem; }
.pb3 { padding-bottom: 1rem; }
.pb4 { padding-bottom: 2rem; }
.pb5 { padding-bottom: 4rem; }
.pb6 { padding-bottom: 8rem; }
.pb7 { padding-bottom: 16rem; }
.pt0 { padding-top: 0; }
.pt1 { padding-top: .25rem; }
.pt2 { padding-top: .5rem; }
.pt3 { padding-top: 1rem; }
.pt4 { padding-top: 2rem; }
.pt5 { padding-top: 4rem; }
.pt6 { padding-top: 8rem; }
.pt7 { padding-top: 16rem; }
.pv0 { padding-top: 0; padding-bottom: 0; }
.pv1 { padding-top: .25rem; padding-bottom: .25rem; }
.pv2 { padding-top: .5rem; padding-bottom: .5rem; }
.pv3 { padding-top: 1rem; padding-bottom: 1rem; }
.pv4 { padding-top: 2rem; padding-bottom: 2rem; }
.pv5 { padding-top: 4rem; padding-bottom: 4rem; }
.pv6 { padding-top: 8rem; padding-bottom: 8rem; }
.pv7 { padding-top: 16rem; padding-bottom: 16rem; }
.ph0 { padding-left: 0; padding-right: 0; }
.ph1 { padding-left: .25rem; padding-right: .25rem; }
.ph2 { padding-left: .5rem; padding-right: .5rem; }
.ph3 { padding-left: 1rem; padding-right: 1rem; }
.ph4 { padding-left: 2rem; padding-right: 2rem; }
.ph5 { padding-left: 4rem; padding-right: 4rem; }
.ph6 { padding-left: 8rem; padding-right: 8rem; }
.ph7 { padding-left: 16rem; padding-right: 16rem; }
.ma0 { margin: 0; }
.ma1 { margin: .25rem; }
.ma2 { margin: .5rem; }
.ma3 { margin: 1rem; }
.ma4 { margin: 2rem; }
.ma5 { margin: 4rem; }
.ma6 { margin: 8rem; }
.ma7 { margin: 16rem; }
.ml0 { margin-left: 0; }
.ml1 { margin-left: .25rem; }
.ml2 { margin-left: .5rem; }
.ml3 { margin-left: 1rem; }
.ml4 { margin-left: 2rem; }
.ml5 { margin-left: 4rem; }
.ml6 { margin-left: 8rem; }
.ml7 { margin-left: 16rem; }
.mr0 { margin-right: 0; }
.mr1 { margin-right: .25rem; }
.mr2 { margin-right: .5rem; }
.mr3 { margin-right: 1rem; }
.mr4 { margin-right: 2rem; }
.mr5 { margin-right: 4rem; }
.mr6 { margin-right: 8rem; }
.mr7 { margin-right: 16rem; }
.mb0 { margin-bottom: 0; }
.mb1 { margin-bottom: .25rem; }
.mb2 { margin-bottom: .5rem; }
.mb3 { margin-bottom: 1rem; }
.mb4 { margin-bottom: 2rem; }
.mb5 { margin-bottom: 4rem; }
.mb6 { margin-bottom: 8rem; }
.mb7 { margin-bottom: 16rem; }
.mt0 { margin-top: 0; }
.mt1 { margin-top: .25rem; }
.mt2 { margin-top: .5rem; }
.mt3 { margin-top: 1rem; }
.mt4 { margin-top: 2rem; }
.mt5 { margin-top: 4rem; }
.mt6 { margin-top: 8rem; }
.mt7 { margin-top: 16rem; }
.mv0 { margin-top: 0; margin-bottom: 0; }
.mv1 { margin-top: .25rem; margin-bottom: .25rem; }
.mv2 { margin-top: .5rem; margin-bottom: .5rem; }
.mv3 { margin-top: 1rem; margin-bottom: 1rem; }
.mv4 { margin-top: 2rem; margin-bottom: 2rem; }
.mv5 { margin-top: 4rem; margin-bottom: 4rem; }
.mv6 { margin-top: 8rem; margin-bottom: 8rem; }
.mv7 { margin-top: 16rem; margin-bottom: 16rem; }
.mh0 { margin-left: 0; margin-right: 0; }
.mh1 { margin-left: .25rem; margin-right: .25rem; }
.mh2 { margin-left: .5rem; margin-right: .5rem; }
.mh3 { margin-left: 1rem; margin-right: 1rem; }
.mh4 { margin-left: 2rem; margin-right: 2rem; }
.mh5 { margin-left: 4rem; margin-right: 4rem; }
.mh6 { margin-left: 8rem; margin-right: 8rem; }
.mh7 { margin-left: 16rem; margin-right: 16rem; }

/*
    POSITIONING
 */
.static { position: static; }
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }

/*
   COORDINATES
*/

.top-0    { top:    0; }
.right-0  { right:  0; }
.bottom-0 { bottom: 0; }
.left-0   { left:   0; }

.top-1    { top:    1rem; }
.right-1  { right:  1rem; }
.bottom-1 { bottom: 1rem; }
.left-1   { left:   1rem; }

.top-2    { top:    2rem; }
.right-2  { right:  2rem; }
.bottom-2 { bottom: 2rem; }
.left-2   { left:   2rem; }

.fill { top: 0; right: 0; bottom: 0; left: 0; }

/*
   BORDERS
*/

.ba { border-style: solid; border-width: 1px; }
.bt { border-top-style: solid; border-top-width: 1px; }
.br { border-right-style: solid; border-right-width: 1px; }
.bb { border-bottom-style: solid; border-bottom-width: 1px; }
.bl { border-left-style: solid; border-left-width: 1px; }
.bn { border-style: none; border-width: 0; }

.bw0 { border-width: 0; }
.bw1 { border-width: .125rem; }
.bw2 { border-width: .25rem; }
.bw3 { border-width: .5rem; }
.bw4 { border-width: 1rem; }
.bw5 { border-width: 2rem; }

.b--dotted { border-style: dotted; }
.b--dashed { border-style: dashed; }
.b--solid {  border-style: solid; }
.b--none {   border-style: none; }

.b--background-body { border-color: var(--background-body); }
.b--background { border-color: var(--background); }
.b--background-alt { border-color: var(--background-alt); }

.b--text-main { border-color: var(--text-main); }
.b--text-bright { border-color: var(--text-bright); }
.b--text-muted { border-color: var(--text-muted); }

.b--links { border-color: var(--links); }
.b--focus { border-color: var(--focus); }
.b--border { border-color: var(--border); }
.b--code { border-color: var(--code); }

.b--button-hover { border-color: var(--button-hover); }

.b--form-placeholder { border-color: var(--form-placeholder); }
.b--form-text { border-color: var(--form-text); }

.b--variable { border-color: var(--variable); }
.b--highlight { border-color: var(--highlight); }

.b--transparent { border-color: transparent; }
.b--inherit { border-color: inherit; }

.br0 {        border-radius: 0; }
.br1 {        border-radius: .125rem; }
.br2 {        border-radius: .25rem; }
.br3 {        border-radius: .5rem; }
.br4 {        border-radius: 1rem; }
.br-100 {     border-radius: 100%; }
.br-pill {    border-radius: 9999px; }
.br--bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.br--top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.br--right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.br--left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.bg-background-body { background-color: var(--background-body); }
.bg-background { background-color: var(--background); }
.bg-background-alt { background-color: var(--background-alt); }
.bg-inverse { background-color: var(--background-inverse); }

.bg-text-main { background-color: var(--text-main); }
.bg-text-bright { background-color: var(--text-bright); }
.bg-text-muted { background-color: var(--text-muted); }

.bg-links { background-color: var(--links); }
.bg-focus { background-color: var(--focus); }
.bg-border { background-color: var(--border); }
.bg-code { background-color: var(--code); }

.bg-button-hover { background-color: var(--button-hover); }

.bg-form-placeholder { background-color: var(--form-placeholder); }
.bg-form-text { background-color: var(--form-text); }

.bg-variable { background-color: var(--variable); }
.bg-highlight { background-color: var(--highlight); }

.background-body { color: var(--background-body); }
.background { color: var(--background); }
.background-alt { color: var(--background-alt); }

.text-main { color: var(--text-main); }
.text-bright { color: var(--text-bright); }
.text-muted { color: var(--text-muted); }
.color-inverse { color: var(--text-inverse); }

.links { color: var(--links); }
.focus { color: var(--focus); }
.border { color: var(--border); }
.code { color: var(--code); }

.button-hover { color: var(--button-hover); }

.form-placeholder { color: var(--form-placeholder); }
.form-text { color: var(--form-text); }

.variable { color: var(--variable); }
.highlight { color: var(--highlight); }

/*
   RESPONSIVE
*/

@media(max-width: 1023px) {
  main {
    width: 98%;
  }
}

@media(max-width: 507px) {
  body {
    padding: 0;
  }

  main {
    width: 98%
  }

  section, aside {
    flex: none;
    width: 100%;
    margin-left: 0;
  }

  section > aside {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  section > aside:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 507px) {
  .sm {
    display: inherit;
  }

  .md, .lg {
    display: none;
  }
}

@media screen and (min-width: 508px) and (max-width: 959px) {
  .sm, .lg {
    display: none;
  }

  .md {
    display: inherit;
  }
}

@media screen and (min-width: 960px) {
  .sm, md {
    display: none;
  }

  .lg {
    display: inherit;
  }
}
